$black: #000000;
$blackTwo: #212121;
$white: white;
$lightFontColor: #847f88;
$transition: all 0.5s ease-in-out;
@mixin button {
    padding: 10px 10px;
    border: none;
    background-color: #0084c1;
    color: $white;
    border-radius: 3px;
    font-weight: bold;
    transition: $transition;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}
@mixin ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
    }
}
@mixin flexRow($js) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $js;
}
@mixin flexCoulm($js) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: $js;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
}
nav {
    width: 100%;
    height: 150px;
    background-color: $black;
    @include flexRow(space-around);
    align-items: flex-start;
    position: relative;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        @include flexRow(space-around);
    }
    .sidbarOpen {
        display: none;

        @media (max-width: 768px) {
            display: block;
            transform: scale(200%);
            z-index: 9999;
        }
    }
    div {
        width: 25%;
        height: 60%;
        color: $white;
    }
    .logo {
        width: 25%;
        font-size: 2em;
        @include flexRow(center);
        align-items: center;
        position: relative;
        transition: $transition;
        font-family: "Anton", sans-serif;
        letter-spacing: 0.1em;
        @media (max-width: 992px) {
            font-size: 1.6em;
        }
        @media (max-width: 768px) {
            @include flexRow(space-around);
            width: 60%;
            height: 50%;
            font-size: 1.3em;
        }
        &:hover {
            opacity: 0.5;
        }
        .yellow {
            color: #f05f00;
        }
        .blue {
            color: #0084c1;
        }

        a {
            position: absolute;
            width: 80%;
            height: 70%;
            right: 0;
            z-index: 99;
        }
    }
    .searchBar {
        width: 50%;
        position: relative;
        @include flexRow(center);
        .searchOutput {
            width: 100%;
            height: 250%;
            overflow-y: scroll;
            background-color: white;
            position: absolute;
            z-index: 99999;
            top: 80%;
            border-radius: 5px;
            .searchItem {
                color: $black;
                width: 80%;
                height: 20%;
                border-bottom: 1px solid $lightFontColor;
                margin-bottom: 2%;
                cursor: pointer;
                transition: $transition;
                @include flexRow(flex-start);
                position: relative;
                &:hover {
                    opacity: 0.5;
                }
                img {
                    width: 10%;
                    height: 100%;
                    object-fit: cover;
                    margin: 5% 10% 5% 1%;
                }
                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 9;
                }
                @media (max-width: 768px) {
                    width: 90%;
                    h2 {
                        font-size: 1em;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            order: 3;
            width: 90%;
            height: 50%;
        }
        input {
            width: 85%;
            height: 50%;
            border-radius: 10px;
            border: none;
            text-indent: 5%;
            font-size: 1em;
            @media (max-width: 768px) {
                width: 100%;
            }
            &:focus {
                outline: none;
            }
        }
        svg {
            transform: scale(150%);
            position: relative;
            padding: 1% 1%;
            border-radius: 50% !important;
            border-radius: 0 2px 2px 0;
            right: -2%;
            z-index: 0;
            background-color: #2f82fb;
            cursor: pointer;
            transition: $transition;
            @media (max-width: 768px) {
                right: -2%;
            }
        }
    }
    .navOptions {
        width: 15%;
        @include flexRow(space-around);
        @media (max-width: 768px) {
            width: 30%;
            height: 50%;
        }
        .username {
            text-decoration: underline !important;
            cursor: pointer;
        }
        a {
            position: relative;
            color: white;
            span {
                position: absolute;
                top: -50%;
                z-index: 99;
                padding: 5px 8px;
                background-color: #0084c1;
                border-radius: 50%;

                @media (max-width: 768px) {
                    left: 55%;
                }
            }
        }
        svg {
            transform: scale(200%);
            padding: 6px 6px;
            border-radius: 50%;
            background-color: $blackTwo;
            transition: $transition;
            cursor: pointer;
            @media (max-width: 992px) {
                transform: scale(170%);
            }
            @media (max-width: 768px) {
                transform: scale(140%);
            }
            &:hover {
                background-color: #1d1b1b;
            }
        }
    }
    .navBottom {
        position: absolute;
        width: 90%;
        height: 35%;
        bottom: 2%;
        @include flexRow(space-around);
        align-items: flex-end;
        @media (max-width: 992px) {
            width: 95%;
        }
        div:not(:last-child) {
            width: 15%;
            height: 90%;
            background-color: $blackTwo;
            border-radius: 5px;
            font-size: 0.7em;
            transition: $transition;
            @include flexRow(center);
            cursor: pointer;
            &:first-child {
                width: 22%;
                font-size: 1.2em;
                svg {
                    transform: scale(120%);
                    margin-right: 5%;
                }
            }
            a {
                text-decoration: none;
                color: $white;
                font-size: 1.7em;
                font-weight: bold;
                height: 100%;
                width: 100%;
                @include flexRow(center);
                @media (max-width: 992px) {
                    font-size: 1.2em;
                }
            }
            &:hover {
                background-color: #3a3939;
            }
            &.sectionOne {
                position: relative;
                .arrowDown {
                    position: absolute;
                    bottom: -30%;
                    z-index: 99;
                    color: $blackTwo;
                }
            }
            &.sectionFive {
                background-color: #711bec;
                &:hover {
                    opacity: 0.5;
                }
            }
            &.sectionSix {
                background-color: #40b87f;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &.smallScreenClosed {
            left: -100% !important;
        }
        &.smallScreenOpen {
            left: 0;
        }
        @media (max-width: 786px) {
            position: absolute;
            width: 300px;
            height: 75vh;
            top: 99%;
            z-index: 9999;
            transition: $transition;
            overflow-y: scroll;
            @include flexCoulm(flex-start);
            background-color: $black;
            div:not(:last-child) {
                width: 90% !important;
                height: 8% !important;
                margin-bottom: 5%;
                flex-shrink: 0;
            }
            .sectionOne {
                order: 1;
            }
            .sectionTwo,
            .sectionThree,
            .sectionFour,
            .sectionFive,
            .sectionSix {
                order: 2;
            }
        }
    }
}
.header {
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    @include flexRow(flex-end);
    align-items: flex-start;
    @media (max-width: 750px) {
        width: 95%;
        height: 40vh;
    }
    img {
        width: 26%;
        height: 100%;
        transition: $transition;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 750px) {
            width: 33.3%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.categories {
    width: 20%;
    background-color: #ffffff;
    box-shadow: -5px 5px 0px -2px rgba(0, 0, 0, 0.75);
    transition: $transition;
    position: absolute;
    left: 2%;
    top: 104%;
    @media (max-width: 768px) {
        display: none;
        position: static;
        display: block !important;
        height: 45% !important;
        width: 90%;
        order: 1;
        margin-bottom: 5%;
    }
    ul {
        @include ul();
        position: relative;
        li {
            margin: 6% 8%;
            cursor: pointer;
            transition: $transition;
            &:hover {
                opacity: 0.5;
            }
            a {
                text-decoration: none;
                color: $black;
                @media (max-width: 768px) {
                    display: block !important;
                    font-size: 0.7em;
                }
            }
            @media (max-width: 768px) {
                margin: 4% 8%;
            }
        }
        @media (max-width: 768px) {
            display: block !important;
        }
    }
    svg {
        position: absolute;
        right: 5%;
        opacity: 0.5;
    }
}

.trending,
.container {
    width: 90%;
    margin: 8vh auto 0 auto;
    position: relative;
    @media (max-width: 992px) {
        width: 95%;
    }
    @media (max-width: 768px) {
        width: 95%;
        margin: 5vh auto;
    }
    .header {
        height: 10vh;
        width: 100%;
        position: relative;
        @include flexCoulm(space-around);
        align-items: flex-start;
        h2 {
            font-size: 2em;
            margin: 0;
            padding: 0;
            @media (max-width: 992px) {
                font-size: 1.8em;
            }
            @media (max-width: 768px) {
                font-size: 1.5em;
            }
        }
        p {
            margin: 0;
            font-size: 1em;
            color: $lightFontColor;
            @media (max-width: 992px) {
                font-size: 0.9em;
            }
            @media (max-width: 768px) {
                font-size: 0.8em;
            }
        }
        button {
            @include button();
            position: absolute;
            top: -10%;
            right: 2%;
            font-size: 1em;
            padding: 7px 10px;
            @media (max-width: 992px) {
                top: -18%;
                font-size: 0.9em;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    .trendingProducts {
        width: 100%;
        margin: 0 auto;
        @include flexRow(space-around);
        padding: 2vh 0;
        flex-wrap: wrap;
        transition: $transition;
        border-bottom: 1px solid $lightFontColor;
        position: relative;
        @media (max-width: 768px) {
            max-width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-left: 0;
        }
        div {
            @include flexCoulm(flex-start);
            align-items: flex-start;
            width: 15%;
            height: 50vh;
            position: relative;

            @media (max-width: 750px) {
                flex-shrink: 0;
                width: 33%;
                height: 40vh;
                margin: 0 2vh;
                align-items: center;
                justify-content: space-around;
                h4 {
                    font-size: 0.8em !important;
                }
            }
            &:hover {
                img {
                    opacity: 0.6;
                }
            }
            img {
                width: 100%;
                height: 60%;
                object-fit: cover;
                transition: $transition;
                @media (max-width: 750px) {
                    width: 100%;
                    height: 60%;
                }
            }

            h4 {
                font-size: 0.7em;
                margin: 5% 0 2% 10%;
                height: 10%;
                @media (max-width: 992px) {
                    font-size: 0.7em;
                    margin-bottom: 20%;
                }
            }
            h5 {
                font-size: 1em;
                margin: 3% 0 0 10%;
                height: 6%;
                @media (max-width: 992px) {
                    font-size: 0.9em;
                }
            }
            h6 {
                font-size: 0.9em;
                margin: 0 0 0 10%;
                text-decoration: line-through;
                color: $lightFontColor;
                height: 5%;
                @media (max-width: 992px) {
                    font-size: 0.7em;
                }
            }
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 99;
                cursor: pointer;
            }
        }
    }
    span {
        color: #0084c1;
        font-size: 1.4em;
        position: absolute;
        z-index: 999;
        bottom: 2vh;
        left: 48%;
        cursor: pointer;
        transition: $transition;
        &:hover {
            opacity: 0.6;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}
.importantProducts,
.rowContainers {
    width: 90%;
    height: 130vh;
    margin: 0 auto;
    margin-top: 5vh;
    @include flexRow(flex-start);
    @media (max-width: 992px) {
        width: 95%;
    }
    @media (max-width: 768px) {
        @include flexCoulm(flex-start);
        width: 95%;
    }

    .sectionOne,
    .sectionTwo,
    .sectionThree {
        flex: 1;
        height: 100%;
        @include flexCoulm(flex-start);
        align-items: flex-start;
        @media (max-width: 768px) {
            height: 30%;
            width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
            border-bottom: 1px solid $lightFontColor;
        }
        h2 {
            font-size: 2em;
            margin: 0 0 1% 0;
            @media (max-width: 992px) {
                font-size: 2em;
            }
        }
        p {
            font-size: .8em;
            color: $lightFontColor;
            @media (max-width: 992px) {
                font-size: 1em;
                margin: 1% 0;
            }
        }
        .products {
            @include flexCoulm(space-around);
            align-items: flex-start;
            width: 100%;
            height: 100%;
            @media (max-width: 768px) {
                @include flexRow(flex-start);
                flex-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                flex-shrink: 0;
                height: 80%;
            }
            .productItem {
                width: 90%;
                height: 15%;
                border-bottom: 1px solid $lightFontColor;
                position: relative;
                @include flexRow(space-between);
                @media (max-width: 750px) {
                    flex-shrink: 0 !important;
                    width: 33% !important;
                    height: 80%;
                    @include flexCoulm(flex-start);
                    margin: 0 2vh;
                    border-bottom: none;
                }
                &:hover {
                    img {
                        opacity: 0.6;
                    }
                }
                img {
                    height: 80%;
                    width: 20%;
                    object-fit: cover;
                    transition: $transition;
                    @media (max-width: 768px) {
                        width: 100%;
                        height: 50%;
                        object-fit: none;
                    }
                }
                .info {
                    @include flexCoulm(space-around);
                    align-items: flex-start;
                    height: 100%;
                    width: 70%;
                    margin-left: 10%;
                    h2 {
                        font-size: 1em;
                        @media (max-width: 992px) {
                            font-size: 0.9em;
                        }
                        @media (max-width: 768px) {
                            font-size: 0.8em;
                            margin: 0 0 0 1%;
                            text-align: center;
                        }
                    }
                    h3 {
                        margin: 0;
                        font-size: 1.1em;
                        width: 100%;
                        text-align: center;

                        &.oldPrice {
                            text-decoration: line-through !important;
                            color: $lightFontColor;
                        }
                    }
                }
                a {
                    position: absolute;
                    width: 80%;
                    left: 0;
                    height: 100%;
                    z-index: 99;
                    cursor: pointer;
                }
            }
        }
    }
}

.browseSection {
    width: 100%;
    height: 50vh;
    background-color: $blackTwo;
    margin-top: 8vh;
    @include flexRow(center);
    .browseContainer {
        width: 90%;
        height: 85%;
        margin: auto auto;
        @include flexCoulm(flex-start);
        align-items: flex-start;
        color: $white;
        @media (max-width: 750px) {
            width: 95%;
        }
        h2 {
            font-size: 2.4em;
            margin: 0;
            @media (max-width: 750px) {
                font-size: 1.4em;
            }
        }
        p {
            color: $lightFontColor;
            @media (max-width: 750px) {
                font-size: 0.8em;
            }
        }
        div {
            width: 100%;
            height: 70%;
            margin: 0 auto;
            @include flexRow(space-around);
            @media (max-width: 750px) {
                height: 60%;
            }
            div {
                width: 15%;
                height: 90%;
                cursor: pointer;
                @media (max-width: 750px) {
                    width: 16%;
                    height: 70%;
                }
                position: relative;
                &:hover {
                    img {
                        opacity: 0.6;
                    }
                }
                img {
                    transition: $transition;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                span {
                    width: 100%;
                    padding: 5px 0;
                    height: 20px;
                    color: white;
                    position: absolute;
                    bottom: 0%;
                    background-color: #00000090;
                    text-align: center;
                    font-size: 1.2em;
                    @media (max-width: 750px) {
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 65vh;
    padding-top: 8vh;
    @include flexCoulm(flex-start);
    .sectionOne {
        width: 90%;
        height: 18%;
        border-bottom: 1px solid $lightFontColor;
        @include flexRow(flex-start);
        span {
            font-size: 1.3em;
            color: $lightFontColor;
            @media (max-width: 750px) {
                font-size: 1.1em;
            }
        }
        img {
            width: 120px;
            height: 80px;
            margin-left: 2%;
            object-fit: cover;
            @media (max-width: 992px) {
                width: 80px;
                height: 40px;
            }
        }
    }
    .sectionTwo {
        height: 50%;
        width: 90%;
        border-bottom: 1px solid $lightFontColor;
        @include flexRow(flex-start);
        div {
            width: 15%;
            height: 100%;
            @media (max-width: 992px) {
                width: 33%;
            }
            h2 {
                font-size: 1.2em;
                @media (max-width: 992px) {
                    font-size: 1em;
                }
            }
            ul {
                @include ul();
                a {
                    text-decoration: none;
                    color: $lightFontColor;
                    transition: $transition;
                    &:hover {
                        color: $blackTwo;
                    }
                }
                li {
                    margin-bottom: 3%;
                    font-size: 1.2em;
                    @media (max-width: 992px) {
                        font-size: 0.7em;
                        margin-bottom: 12%;
                    }
                }
            }
        }
    }
    .sectionThree {
        width: 90%;
        height: 20%;
        @include flexRow(flex-start);
        border-bottom: 1px solid $lightFontColor;
        span {
            font-size: 1.3em;
            color: $lightFontColor;
            @media (max-width: 992px) {
                font-size: 1em;
            }
        }
        img {
            width: 35px;
            height: 35px;
            margin-left: 1%;
            cursor: pointer;
            transition: $transition;
            @media (max-width: 992px) {
                width: 20px;
                height: 20px;
            }
            &:hover {
                transform: scale(120%);
            }
        }
    }
    .sectionFour {
        width: 90%;
        height: 10%;
        color: $lightFontColor;
        margin: auto auto;
        @include flexRow(flex-start);
        @media (max-width: 992px) {
            font-size: 0.8em;
        }
        @media (max-width: 750px) {
            font-size: 0.6em;
        }
    }
}
.singleProduct {
    width: 90%;
    height: 80vh;
    margin: 5vh auto;
    @include flexRow(flex-start);
    @media (max-width: 992px) {
        width: 95%;
    }
    @media (max-width: 750px) {
        @include flexCoulm(flex-start);
        width: 100%;
        height: 75vh;
    }
    div {
        flex: 1;
        height: 100%;
        @include flexCoulm(center);
        img {
            width: 70%;
            height: 70%;
            margin: 0 auto;
            object-fit: cover;
            @media (max-width: 992px) {
                width: 100%;
            }
        }
        h2 {
            font-size: 3em;
            @media (max-width: 992px) {
                font-size: 2.5em;
                text-align: center;
            }
        }
        &:last-child {
            height: 60%;
            border: 1px solid $lightFontColor;
            align-items: flex-start;
            justify-content: space-around;
            position: relative;
            border-radius: 10px;
            h4 {
                font-size: 3em;
                margin: 0;
                color: $lightFontColor;
                margin-left: 5%;
                @media (max-width: 992px) {
                    font-size: 2.5em;
                }
            }
            p {
                font-size: 2.5em;
                margin: 0;
                margin-left: 8%;
                @media (max-width: 992px) {
                    font-size: 2em;
                }
            }
            .oldPrice {
                text-decoration: line-through;
            }
            button {
                @include button();
                width: 80%;
                padding: 20px 0;
                font-size: 2em;
                margin: 0 auto;
                @media (max-width: 992px) {
                    font-size: 1.5em;
                }
            }
            span {
                padding: 5px 5px;
                background-color: $white;
                color: red;
                border: 1px solid red;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                right: 55%;
                @media (max-width: 992px) {
                    top: 40%;
                    right: 38%;
                }
            }
        }
        @media (max-width: 750px) {
            height: 30%;
            img {
                width: 100%;
                height: 100%;
            }
            h2 {
                font-size: 1.8em;
            }
            &:last-child {
                width: 95%;
                h4 {
                    font-size: 1.9em;
                }
                p {
                    font-size: 2em;
                }
                span {
                    right: 50%;
                    top: 40%;
                }
                button {
                    font-size: 1.4em;
                }
            }
        }
    }
}
.cartSection {
    width: 100%;
    height: 100vh;
    @include flexRow(space-around);
    @media (max-width: 750px) {
        @include flexCoulm(flex-start);
    }
    .goToHome {
        @include button();
        font-size: 2em;
        position: relative;
        bottom: 20%;
        @media (max-width: 750px) {
            bottom: 0%;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 99;
        }
    }
    .carProducts {
        width: 65%;
        height: 80%;
        @include flexCoulm(flex-start);
        align-items: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        @media (max-width: 750px) {
            width: 95%;
        }
        .product {
            width: 95%;
            height: 25vh;
            margin-bottom: 5vh;
            flex-shrink: 0;
            background-color: white;
            @include flexRow(flex-start);
            align-items: flex-start;
            box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
            img {
                width: 15%;
                height: 100%;
                object-fit: cover;
            }
            h2 {
                font-size: 2em;
                margin-left: 5%;
                width: 30%;
                @media (max-width: 992px) {
                    font-size: 1.5em;
                }
            }
            div {
                height: 100%;
                width: 40%;
                margin-left: auto;
                @include flexRow(flex-start);
                select {
                    width: 20%;
                    height: 30%;
                    font-size: 1.5em;
                }
                svg {
                    transform: scale(150%);
                    margin-left: 5%;
                    transition: $transition;
                    cursor: pointer;
                    &:hover {
                        color: red;
                    }
                }
                div {
                    height: 80%;
                    @include flexCoulm(space-around);
                    h3 {
                        color: $lightFontColor;
                        text-decoration: line-through;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        color: $lightFontColor;
                    }
                    h4 {
                        padding: 5px 5px;
                        background-color: $white;
                        color: red;
                        border: 1px solid red;
                        border-radius: 8px;
                        margin: 0;
                    }
                }
            }
            @media (max-width: 750px) {
                justify-content: space-between;
                img {
                    width: 30%;
                    object-fit: fill;
                }
                h2 {
                    font-size: 1em;
                    margin: 0;
                    width: 25%;
                }
                div {
                    width: 40%;
                    justify-self: flex-start;
                    margin: 0;
                    svg {
                        transform: scale(100%);
                    }
                    select {
                        width: 30%;
                        height: 20%;
                    }
                    div {
                        width: 50%;
                        h3 {
                            font-size: 0.8em;
                        }
                        h4 {
                            font-size: 0.7em;
                        }
                        p {
                            font-size: 0.6em;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .checkout {
        width: 30%;
        height: 50%;
        border: 1px solid $lightFontColor;
        @include flexCoulm(center);
        align-items: flex-start;
        @media (max-width: 750px) {
            width: 95%;
        }
        input {
            width: 90%;
            height: 17%;
            font-size: 1.5em;
            border: none;
            background-color: #ffffff;
            border-radius: 5px;
            border: 1px solid #0084c1;
            margin: 0 auto;
            &:focus {
                outline: 1px solid #0084c1;
            }
        }
        h2 {
            font-size: 2em;
            width: 90%;
            position: relative;
            font-weight: 100;
            margin-left: auto;
            margin-right: auto;
            span {
                right: 40%;
                position: absolute;
                font-weight: 600;
                @media (max-width: 992px) {
                    right: 5%;
                }
                @media (max-width: 750px) {
                    right: 25%;
                }
            }
        }
        button {
            @include button();
            width: 90%;
            height: 20%;
            margin: 0 auto;
            font-size: 2em;
            @media (max-width: 992px) {
                font-size: 1.5em;
            }
        }
    }
}
.loginForm {
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 999999999999;
    background-color: #ffffffcc;
    .closeIcon {
        position: absolute;
        top: 0;
        right: 0;
        color: #0084c1;
        font-size: 2.5em;
        cursor: pointer;
        transition: $transition;
        &:hover {
            opacity: 0.5;
        }
    }
    .login,
    .signup {
        width: 100%;
        height: 70%;
        margin-top: 10%;
        @include flexCoulm(space-around);
        color: $blackTwo;
        form {
            @include flexCoulm(space-around);
            height: 60%;
            width: 100%;
            input {
                width: 45%;
                height: 20%;
                border: none;
                font-size: 1.2em;
                &:focus {
                    outline: 1px solid #0084c1;
                }
                &:last-child {
                    width: 25%;
                    font-size: 1.5em;
                    background-color: #0084c1;
                    border: none;
                    color: $white;
                    border-radius: 10px;
                    transition: $transition;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        h2 {
            margin: 0;
            padding: 0;
            font-size: 2em;
        }
        h4 {
            margin: 0;
            padding: 0;
            font-size: 1em;
            opacity: 0.8;
        }
        .loginAfterSignup {
            text-decoration: underline;
            cursor: pointer;
            transition: $transition;
            &:hover {
                color: #0084c1;
            }
        }
    }
    .signup {
        height: 70% !important;
        form {
            height: 75%;
        }
        .back {
            position: absolute;
            top: 5%;
            left: 2%;
            color: #0084c1;
            text-decoration: underline;
            transition: $transition;
            @include flexRow(flex-start);
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
            svg {
                color: #0084c1;
                font-size: 2em;
            }
        }
    }
    .loginBottom {
        width: 100%;
        @include flexRow(space-around);
        margin-top: 5%;
        button {
            padding: 10px 10px;
            font-size: 1.5em;
            background-color: #0084c1;
            border: none;
            color: $white;
            border-radius: 5px;
            transition: $transition;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
        a {
            color: $black;
            transition: $transition;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
